@font-face {
  font-family: "estedad";
  src: url(/fonts/Estedad-FD-Thin.woff?52346309ad6585379b7424c471f1fea3) format("woff"), url(/fonts/Estedad-FD-Thin.ttf?470392dde8ecd1273a2ba7cee5bdcb3a) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "estedad";
  src: url(/fonts/Estedad-FD-Black.woff?7d7cabcd93ffa5c0a643b2634ffe54fc) format("woff"), url(/fonts/Estedad-FD-Black.ttf?63ff9cc94b0a44c225abb5060ef90fa1) format("truetype");
  font-style: normal;
  font-weight: bold;
}

body {
  font-family: estedad;
  min-height: 100vh;
}

.h100 {
  min-height: 100vh;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

