@font-face {
  font-family: "pelak";
  src: url(/fonts/PelakFA-Black.woff?eec2cf9dbfccada428206e07f2c566e2) format("woff"), url(/fonts/PelakFA-Black.ttf?60cb0ae709b141897c1c7072b0696037) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "pelak";
  src: url(/fonts/PelakFA-Regular.woff?cb3ab50e752703636f9d1aa5456baaa1) format("woff"), url(/fonts/PelakFA-Regular.ttf?20966562ca6d4d50c199d53391deb7cb) format("truetype");
  font-style: normal;
  font-weight: 300;
}
body {
  font-family: pelak;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.card {
  overflow: auto;
}

.ltr {
  direction: ltr;
}

.rtl .custom-control-label::before {
  right: -5px;
}

.rtl .custom-radio .custom-control-label::after {
  left: inherit;
  right: 0;
}

.content {
  padding: 85px 0;
}

.ltr {
  direction: ltr;
}

.h100 {
  min-height: 100vh;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.custom-checkbox .custom-control-label::after {
  right: 2px;
  left: 0;
}

.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner {
  text-align: right;
}

.line-through {
  text-decoration: line-through;
}

.btn-outline-light {
  background-color: transparent;
  background-image: none;
  border-color: #e9ecef;
  color: #212529;
}

.home h5 {
  margin-bottom: 30px;
}
.home .card-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .card-info-box {
  margin: 0px -30px -191px !important;
  background-color: #E0F7FA;
  padding: 22px;
}

.card-title .mdi {
  font-size: 1.5em;
}

.login-bg {
  background: #202020;
}

.input-group.input-group-sm .form-control {
  text-align: center;
  margin: 0 -1px;
  font-size: 101%;
}

.info-box {
  padding: 5px 10px;
  border-bottom: #ccc 2px solid;
  margin: 0 5px;
}

.icon-social {
  font-size: 36px;
  margin: 0 10px;
}
