@font-face {
  font-family: 'estedad';
  src: url('../fonts/Estedad-FD-Thin.woff') format('woff'),
  url('../fonts/Estedad-FD-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'estedad';
  src: url('../fonts/Estedad-FD-Black.woff') format('woff'),
  url('../fonts/Estedad-FD-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}