@import "fonts";

body {
  font-family: pelak;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.card {
  overflow: auto;
}

//rtl
.rtl .custom-control-label::before {
  right: -5px;
}

.rtl .custom-radio .custom-control-label::after {
  left: inherit;
  right: 0;
}

.content {
  padding: 85px 0;
}

// end-rtl

.ltr {
  direction: ltr;
}

.h100 {
  min-height: 100vh;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-overlay {
  background: rgb(0 0 0 / 50%);
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.custom-checkbox .custom-control-label::after {
  right: 2px;
  left: 0;
}

.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner {
  text-align: right;
}

.line-through {
  text-decoration: line-through;
}

.btn-outline-light {
  background-color: transparent;
  background-image: none;
  border-color: #e9ecef;
  color: #212529;
}

.home {
  h5 {
    margin-bottom: 30px;
  }

  .card-img {
    height: 100%;
    object-fit: cover;
  }

  .card-info-box {
    margin: 0px -30px -191px !important;
    background-color: #E0F7FA;
    padding: 22px;
  }
}

.card-title {
  .mdi {
    font-size: 1.5em;
  }
}

.login-bg {
  background: #202020;
}

.input-group.input-group-sm .form-control {
  text-align: center;
  margin: 0 -1px;
  font-size: 101%;
}

.info-box {
  background-color: #e2e2e2;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
}