@import "fonts";

body{
  font-family: estedad;
  min-height: 100vh;
}

.h100{
  min-height: 100vh;
}

.center-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}